.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: var(--background);
  border-bottom: var(--border) 2px solid;
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clerkButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10vw;
  margin-right: 1rem;
}

.nav {
  display: flex;
  justify-content: space-around;
}
