@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
  --background: #33b6e5a9;
  --border: #3386e5bc;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background-image: url("../../public/assets/space_background.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
}

.navbar ul {
  display:flex;
  justify-content: center; 
}

.info {
  display: grid;
  
}