.fullPage {
  background-color: var(--background);
  border: var(--border) 3px solid;
  border-radius: 2.5%;
  width: 90%;
  height: 90vh;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.title {
  font-size: 2rem;
}

.tagDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.allTags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  width: 75vw;
}

.noTagsDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
