.footer {
  background-color: rgb(65, 65, 65);
  width: 100vw;
  min-height: fit-content;
  height: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}

.aside {
  margin-top: auto;
  margin-bottom: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 10vw;
}
